        /* css reset */
        
        html {
            box-sizing: border-box;
            font-size: 16px;
        }
        
        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }
        
        body,
        ul {
            margin: 0;
            padding: 0;
            font-weight: normal;
        }
        
        ol,
        ul {
            list-style: none;
        }
        
        img {
            max-width: 100%;
            height: auto;
        }
        /*--- end of reset ----*/
        
         :root {
            --blanco: white;
            --gris-medio: #333333;
            --gris-oscuro: #1e1e1e;
            --main-font: "Oswald", sans-serif;
            --secondary-font: "Open Sans", sans-serif;
            --shadow: rgba(0, 0, 0, 0.75);
            --verde: #7ac943;
        }
        
        body,
        header,
        section {
            align-items: center;
            background-color: var(--gris-medio);
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        
        .header {
            color: var(--blanco);
            font-family: var(--main-font);
            font-size: 55px;
            margin-top: 26px;
        }
        
        .subtitle {
            color: var(--verde);
            font-family: var(--secondary-font);
            font-size: 24px;
            margin-top: -20px;
            margin-left: 25px;
        }
        /*este apartado es mi imagen del portafolio*/
        
        .header-img {
            background: center;
            border-radius: 100%;
            border: 1px solid var(--gris-oscuro);
            box-shadow: 8px 16px 32px 0px var(--shadow);
            height: 300px;
            margin-top: 80px;
            width: 300px;
            margin-left: 10px;
        }
        
        nav {
            width: 100%;
        }
        /*este apartado son los menu de navegacion */
        /*--------------------este------------------------*/
        
        .nav-item:hover {
            background-color: var(--verde);
        }
        
        .navigation ul {
            color: var(--blanco);
            cursor: pointer;
            display: inline-flex;
            justify-content: space-around;
            margin: 24px 0;
            width: 63%;
            text-align: center;
            margin-left: 258px;
            margin-top: 0px;
            
        }
        
        .navigation li {
            float: left;
            list-style: none outside none;
            align-items: center;
            display: flex;
            font-family: var(--secondary-font);
            height: 30px;
            justify-content: center;
            margin: 40px 0px 0 0;
        }
        
        .navigation li a {
            color: var(--blanco);
            text-decoration: none;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 5px;
        }
        
        .navigation li a:hover {
            color: var(--blanco);
            text-decoration: none;
            background-color: var(--verde);
        }
        
        .nav-item:focus {
            outline: 3px solid var(--verde);
            padding: 8px;
        }
        /*Esto es otra seccion ya otro apartado de la redes sociales*/
        
        .intro {
            margin: 0 196px;
            font-family: var(--secondary-font);
            color: var(--blanco);
            font-size: 1rem;
            padding: 0 1rem;
            vertical-align: middle;
            transform: translateY(0%);
            margin-left: 260px;

        }
        
        .social-media {
            align-items: center;
            display: flex;
            justify-content: space-around;
            margin: 32px auto 0;
            width: 35%;
        }
        
        .social-media li a {
            align-items: center;
            display: flex;
            color: var(--blanco);
            font-family: var(--secondary-font);
            text-decoration: none;
            margin: 10px 20px;
        }
        .social-media a:hover{
            cursor: pointer;
            transform: scale(1.1);
           
        }
        
        .social-media a:focus {
            outline: 3px solid var(--verde);
            padding: 8px;
        }
        
        .social-link-text {
            padding-right: 8px;
            padding-left: 8px;
        }
        
        .carousel {
            align-items: center;
            display: flex;
            margin: 48px 0 64px;
        }
        
        .window {
            overflow: hidden;
            width: 800px;
            padding: 8px;
        }
        /*solo le agrege el display y el flex-wrap*/
        
        .project-container {
            left: 0;
            position: relative;
            width: 1500px;
            display: flex;
            /*desde aqui estoy cambiando*/
            flex-wrap: wrap;
        }
        /*esto es algo nuevo agregado */
        /*solo este pequeño cuadro */
        /*En este punto son la imagenes para el carousel y definiendolas en el contenedor carousel*/
        
        .project-container button {
            background: none;
            border: none;
            padding: 0;
        }
        
        .project-container button:focus-within {
            outline: 3px solid var(--verde);
        }
        
        .project {
            border-radius: 5px;
            border: 2px solid #000;
            display: inline-block;
            height: 400px;
            margin: 0 2px;
            transition: all 0.2s ease-in-out;
            width: 250px;
        }
        
        .project:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        
        .project1-container {
            background: center / cover no-repeat url(images/project1.jpg);
        }
        
        .project2-container {
            background: center / cover no-repeat url(images/project2.jpg);
        }
        
        .project3-container {
            background: center / cover no-repeat url(images/project3.jpg);
        }
        
        .project4-container {
            background: center / cover no-repeat url(images/project4.png);
        }
        
        .project5-container {
            background: center / cover no-repeat url(images/project5.png);
        }
        
        .arrow {
            height: 75px;
            transition: all 0.2s ease-in-out;
            width: 75px;
        }
        
        .arrow:hover {
            transform: scale(1.1);
        }
        
        .arrow-left {
            background: center / contain no-repeat url(./images/play-button-left.png);
            background-color: var(--verde);
            border-radius: 50%;
        }
        
        .arrow-right {
            background: center / contain no-repeat url(./images/play-button-right.png);
            background-color: var(--verde);
            border-radius: 50%;
        }
        
        .arrow:focus {
            outline: 3px solid var(--verde);
            padding: 8px;
        }
        
        .contact-section {
            align-items: center;
            background-color: var(--gris-oscuro);
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        /*Esta arte ya viene el footer donde se hace el llenado para contactarnos*/
        
        .form-container {
            display: flex;
            flex-direction: column;
            width: 30%;
            color: var(--verde);
        }
        
        .message-input input {
            height: 150px;
            margin-bottom: 16px;
            color: var(--gris-oscuro);
            inset-block-start: 20px;
        }
        
        input {
            outline: none;
            width: 100%;
            color: var(--gris-oscuro);
        }
        
        input:focus {
            outline: 3px solid var(--verde);
            padding: 8px;
        }
        
        .send-button,
        .modal-button {
            align-items: center;
            background-color: var(--blanco);
            border-radius: 5px;
            color: var(--gris-oscuro);
            font-family: var(--secondary-font);
            display: flex;
            height: 50px;
            justify-content: center;
            margin-bottom: 48px;
            width: 150px;
            margin-left: 20px;
            font-size: 16px;
            cursor: pointer;
        }
        
        .send-button {
            background-color: var(--blanco);
            font-size: 30px;
            margin-left: 130px;
        }
        
        .send-button:hover {
            background-color: var(--verde);
        }
        
        .send-button:focus,
        .modal-button:focus {
            border: 5px solid var(--gris-oscuro);
            outline: 3px solid var(--verde);
        }
        
        .notification {
            align-items: center;
            background-color: var(--verde);
            border-radius: 5px;
            box-shadow: 8px 16px 32px 0px var(--shadow);
            color: var(--blanco);
            display: none;
            font-family: var(--secondary-font);
            height: 50px;
            justify-content: center;
            position: fixed;
            right: 24px;
            top: 24px;
            width: 300px;
        }
        
        #modal-header {
            outline: 3px solid var(--verde);
            margin: 2px auto 0;
            margin-left: 20px;
            margin-top: 50px;
        }
        
        .modal-container {
            align-items: center;
            background-color: rgba(000, 000, 000, 0.2);
            display: none;
            height: 100%;
            justify-content: center;
            position: fixed;
            width: 100%;
        }
        
        .modal-button:hover {
            transform: scale(1.1);
            background: var(--verde);
        }
        
        .modal {
            align-items: center;
            background-color: var(--gris-oscuro);
            border-radius: 5px;
            border: 8px solid var(--verde);
            display: flex;
            flex-direction: column;
            height: 600px;
            justify-content: center;
            position: fixed;
            top: 10px;
            width: 650px;
            padding: 56px;
        }
        
        .modal-project-image {
            background: center;
            /*cover no-repeat url(images/project1.jpg);*/
            border-radius: 5px;
            border: 8px solid var(--verde);
            height: 400px;
            margin: 16px;
            width: 550px;
            margin-left: 0px;
        }
        
        .showImage {
            transform: scale(1);
        }
        
        .show {
            transform: translate(0);
        }